@media all and (min-width: 742px) {
  .header > .header-info {
    width: 743px;
    margin: 0 auto;
  }
  .container > .login-card {
    width: 430px;
  }
}
@media all and (max-width: 742px) {
  .header > .header-info {
    width: auto;
    margin: 0 40px;
  }
}
