@keyframes slidein {
  from {
    margin-left: 2px;
  }

  to {
    margin-left: 16px;
  }
}

@keyframes slideout {
  from {
    margin-left: 16px;
  }

  to {
    margin-left: 2px;
  }
}
